---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AreasAtuacao from '../components/AreasAtuacao.astro';
import Sobre from '../components/Sobre.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Contato from '../components/Contato.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AreasAtuacao />
    <Sobre />
    <Depoimentos />
    <Contato />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
